<footer class="footer ">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="mb-4"><img src="./img/logo.jpg" alt=""></div>
                <div class="py-4">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry  has been the industry's standard dummy text ever since the when an unknown galley.</p>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="heading mb-3">
						<div class="sub-heading">
							<span class="heading-line"></span> Head Office
						</div>
					
					</div><!-- Heading -->
                        <p>
                            Onepager. Inc., 3133 Connecticut  <br/>
                            Ave NW, #923, Washington  <br/>
                            DC, 20008, USA
                        </p>
                    </div>
                     <div class="col-md-6 mb-3">
                        <div class="heading mb-3">
						<div class="sub-heading">
							<span class="heading-line"></span> Studio Office
						</div>
					
					</div><!-- Heading -->
                        <p>
                            Mainstreet 1234 <br/>
                            1236 Anytown, Germany (DE)
                        </p>
                    </div>
                 
                </div>
            </div>
            <div class="col-xl-6">
                <div class="row">
                    <div class="col-lg-4 my-4 my-xl-5">
                        <h5 class="mb-4">Resources</h5>
                        <ul class="links list-unstyled links-sm">
                            <li><a href="#">Documentation</a></li>
                            <li><a href="#">Developer Metrics</a></li>
                            <li><a href="#">Enterprise</a></li>
                            <li><a href="#">Pricing</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 my-4 my-xl-5">
                        <h5 class="mb-4">Company</h4>
                        <ul class="links list-unstyled links-sm">
                            <li><a href="#">About</a></li>
                            <li><a href="#">Customer</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Support</a></li>
                            <li><a href="#">Terms</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 my-3 my-xl-5">
                        <h5 class="mb-4">Social</h5>
                        <ul class="links list-unstyled links-sm">
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">Google Plus</a></li>
                            <li><a href="#">Twitter</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="footer-bottom mt-4 ">
            <div class="row">
                <div class="col-lg-4 text-center text-lg-start mb-3">
                    <p class="mb-0">© 2019 Onepager</p>
                </div>
                <div class="col-lg-8 text-center text-lg-end mb-3">
                    <div class="footer-links">
                        <a href="#">Terms and Condition</a>
                        <a href="#">Privacy Policy</a>
                        <a href="#">Design made by <span class="link-primary" >ThemeXperts</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
    
<script src="js/all.js"></script>
</body>
</html>
