<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS Styles -->
    <link rel="stylesheet" href="css/style.css" />
    
    <!-- Favicon -->
    <link rel="icon" href="./img/favicon.jpg" />
  
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Noto+Serif:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    
    <title>Agencio joomla Template</title>
    
  </head>
<body>
	<nav class="navbar navbar-expand-xl header navbar-dark bg-primary py-0">
  <div class="container-fluid p-0">
    <a class="navbar-brand p-0" href="#"><img src="./img/logo.jpg" alt=""></a>
    <button class="navbar-toggler me-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">About</a>
        </li>
		<li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Service</a>
        </li>
		<li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Work</a>
        </li>
		<li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Case Studies</a>
        </li>
		<li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Contacts</a>
        </li>
	
      
      </ul>
      <div class="right-panel">
				<a href="#" class="text-light d-block d-xl-inline-block me-4 mb-4 mb-lg-0"><em class="bi bi-phone h5 text-light align-text-bottom"></em> +03 86 600 888 33</a> <a class="btn btn-light text-primary" href="#">Contact us</a>
				 <span class="text-light search-toggle d-inline-block ms-4"><em class="bi bi-search"></em></span> <!--Search Wrapper-->
				<div class="search-wrapper d-none">
					<input class="" placeholder="Enter your search term" type="text">
				</div><!--Search Wrapper-->
			</div>
    </div>
  </div>
</nav>
	

